<div class="jumbotron center">
<h1>Welcome to my app!</h1>
<h4>Launching January 2015</h4>
<p>
		<%= link_to "Log in", "#", class: "btn btn-default" %>
		<%= link_to "Sign up", "#", class: "btn btn-primary" %>
</p>
</div>
