
<div class="jumbotron center">
<h1>Karolina's Mission: </h1>

	<p>The Amazing Karolina is a site by a cat lady for cat ladies. We're on a misssion to store all the worlds cat pictures!!</p>;

</div>